com.tencent.mobileqq
com.tencent.mm
com.sina.weibo
com.taobao.taobao
com.jingdong.app.mall
com.eg.android.AlipayGphone
com.sankuai.meituan
com.autonavi.minimap
com.baidu.BaiduMap
com.UCMobile
com.tencent.mtt
com.qiyi.video
com.tencent.qqlive
com.youku.phone
com.smile.gifmaker
com.kugou.android
com.tencent.qqmusic
com.ss.android.article.news
com.tencent.news
com.tencent.tmgp.sgame
com.happyelements.AndroidAnimal
com.qqgame.hlddz
com.duokan.reader
